body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}







:root {
  --swiper-theme-color: #021830;
}

/* ===============================================||||||||||||||||||||||||||||||||||||||||||||||======================================== */

.labelReg{
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333;
}
.errors-forms{
  color: red;
  font-size: 12px;
}
.regInput{
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 9.5px 0;
  transition: all .3s ease-in-out;
  color: #333;
  border: 1px solid transparent;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: none;
}
.regInput:hover {
  border-bottom: 2px solid #333;
}


.main-button{
  font-weight: 500;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #333;
  border-radius: 0;
  background-color: #333;
  font-size: 14px;
  padding: 15px 40px;
  transition-duration: .7s;
  cursor: pointer;
}

.main-button:hover{
  color: #333!important;
  background-color: transparent;
}
.rsymbol{
  color: red;
}
.main-form{
  padding: 60px 50px;
  /* width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; */

}
@media (max-width:600px) {
  .main-form{
    position: relative!important;
    width: 100%;
  }
  .swiper-images{
    margin: 2rem 2rem!important;
    height: 20rem!important;
  }
  
}
@media (min-width:600px) {
  .main-form{
    width: 40%;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    position: absolute!important;
  }
 
  .swiper-img1,
  .swiper-img2,
  .swiper-img3{
    margin-right: 0%;
  }
}

/*-------------  forms End -------------*/


/* === swiper area =======*/
.swiper-img1,
.swiper-img2,
.swiper-img3{
  float: right;
  z-index: 9;
  margin-right: 10%;
  transition: all 1s ease 0s;
  /* transform: scale(.8); */
  opacity: 0;
  height: 100%;
}
.swiper-images{
  margin: 2rem 7rem;
  height: 26rem;
}
.swiper-slide.swiper-slide-active .swiper-img1,
.swiper-slide.swiper-slide-active .swiper-img2,
.swiper-slide.swiper-slide-active .swiper-img3{
  transition-delay: .3s;
  transform: scale(1);
  opacity: 1!important;
}
.slider-content{
  
    margin-top: 5%;
    margin-left: 8%;
}
.swiper{
  margin-top: 10%!important;
}

/* ---------swiper content--------- */
.slider-content h5
{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 30px;
  transform: translateY(30px);
  transition: all 1s ease 0s;
  letter-spacing: 5px;
  color: #333;
  opacity: 0;
}
.slider-content h1{
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 30px;
  transition: all 1.5s ease 0s;
  transform: translateY(30px);
  color: #333;
  opacity: 0;

}
.swiper-link{
  transition: all 1.9s ease 0s;
  transform: translateY(30px);
  opacity: 0;
}
.swiper-slide.swiper-slide-active .slider-content h5,
.swiper-slide.swiper-slide-active .slider-content h1,
.swiper-slide.swiper-slide-active .slider-content .swiper-link
{
  transform: translateY(0px);
  transition-delay: 1s;
  opacity: 1;
}
/* === swiper area =======*/